/* styles.css */

/* Resetowanie domyślnych stylów */
* {
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Stylizacja głównego kontenera */
#app {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  background-image: url(https://i.pinimg.com/564x/16/b6/3e/16b63e9f7b85f067da134c4402d94398.jpg);
 
  background-repeat: repeat;
}

.container {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  width: 400px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Stylizacja tytułu */
.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

/* Stylizacja formularza i wyboru rasy */
.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Stylizacja radio buttonów */
.radio-group {
  display: flex;
  align-items: center;
}

.radio-group label {
  margin-right: 10px;
}

/* Stylizacja przycisków plus i minus */
.button-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button-group button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.button-group button:hover {
  background-color: #0056b3;
}

/* Stylizacja komunikatu o punktach doświadczenia */
.exp-points {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  
}
.person{
  background-color: black;
}